.generic-page {
  color: white;
  text-align: left;
}

.generic-page h2 {
  font-family: 'Brandon-bold';
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 16px;
  padding-top: 72px;
  margin-bottom: 30px;
}

.generic-page h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px; /* if changing, check impressum page */
  text-decoration: underline;
}

.generic-page p {
  margin-bottom: 15px;
}

.generic-page p:last-child {
  margin-bottom: 0;
}
