.generic-page {
  color: white;
  text-align: left;
}

.generic-page h2 {
  font-family: 'Brandon-bold';
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 16px;
  padding-top: 72px;
  margin-bottom: 30px;
}

.generic-page p {
  margin-bottom: 15px;
  line-height: 22px;
}

.generic-page p:last-child {
  margin-bottom: 0;
}

.generic-page .display-inline {
  text-align: center;
  margin: auto;
}

.generic-page .display-inline * {
  margin-right: 10px;
  margin-left: 10px;
}
