.section-infos {
  margin-bottom: 15px;
}

/* So the header doesn't get greyscaled */
.section-infos .section-info-parent {
  display: inline-block;
  position: relative;
  margin-right: 45px;
  margin-bottom: 20px;
}

.section-infos .section-info-parent:nth-of-type(3n) {
  margin-right: 0;
}

.section-infos .section-info-parent h3 {
  transition: color 0.2s ease;
}

.section-infos .section-info-parent:hover h3 {
  color: white !important;
}

.section-infos .artist-header {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  font-family: 'UCR', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.section-infos .section-info {
  color: #EEE;
  display: inline-block;
  position: relative;
  filter: grayscale(100%);
  width: 200px;
  height: 200px;
  padding: 20px;
  transition: filter 0.2s ease;
  background-size: contain;
}

.section-infos .section-info:hover {
  filter: grayscale(0%);
}

.section-infos .section-info ul {
  list-style: none;
}

.section-infos .section-info h4 {
  margin: 0;
}

.section-infos .section-details {
  position: absolute;
  bottom: 20px;
}

.section-infos .section-info h4.number {
  font-size: 16px;
  margin-bottom: 6px;
}

.section-infos .section-info h4.type {
  font-size: 30px;
  margin-bottom: 10px;
}

.section-infos .section-info h4.date {
  font-size: 12px;
}
