.artist-header {
  font-family: 'Brandon-bold'; text-transform: uppercase;
  font-size: 32px;
  text-align: left;
  margin-bottom: 10px;
}

.artist-highlight-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .artist-highlight-row {
    flex-direction: column;
    text-align: center;
  }
}

.artist-highlight-row .highlight-info {
  padding-bottom: 15px;
  padding-top: 0;
}

.artist-highlight-row .highlight-content {
  padding: 15px;
  padding-top: 0;
}

.artist-highlight-row .summary {
  margin-bottom: 26px;
}

.artist-highlight-row .book-button {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  border: 2px solid;
  background-color: black;
  border-radius: 4px;
  padding: 5px 10px;
}

.artist-highlight-row .artist-image {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position-x: center;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .artist-highlight-row .artist-image {
    margin: auto;
  }
}

.artist-highlight-row .social-link {
  height: 22px;
  margin-top: 20px;
  margin-left: 5px;
}

.artist-highlight-row .summary {
  box-sizing: border-box;
  font-size: 22px;
  line-height: 28px;
  color: black;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 600px) {
  .artist-highlight-row .summary {
    height: inherit;
  }
}
