.artist-highlight-row {
  display: flex;
  flex-direction: row;
}

.artist-highlight-row .artist-header {
  text-align: center;
  margin-bottom: 10px;
}

.artist-highlight-row .highlight-content {
  padding: 15px;
  padding-top: 40px;
}

.artist-highlight-row .summary {
  margin-bottom: 26px;
}

.artist-highlight-row .book-button {
  padding: 10px;
  cursor: pointer;
  border: 2px solid;
  background-color: black;
  border-radius: 4px;
}
