.contact {
  color: white;
}

.contact .content {
  display: flex;
}

.contact .contact-info {
  flex: 1
}

.contact .contact-group {
  margin-bottom: 30px;
}

.contact h2 {
  color: #b6ff9b;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
}

.contact h3 {
  margin-bottom: 10px;
}

.contact .contact-form {
  flex: 3;
}

label {
  display: block;
}

.contact .wpcf7 input,
.contact .wpcf7 textarea {
  background-color: black;
  color: white;
  margin-bottom: 12px;
}

.contact .contact-form input,
.contact .contact-form textarea {
  width: 100%;
}

.contact input[type="submit"] {
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  color: #b6ff9b;
  border: #b6ff9b 1px solid;
}
