.nav-image,
.nav-content {
  display: inline-block;
  vertical-align: top;
}

header {
  margin-top: 16px;
}

header h1 {
  color: white;
}

header .nav-image {
  margin: 16px;
}

nav {
  display: inline-block;
}

nav li {
  color: white;
  display: inline-block;
  margin-right: 40px;
}
