.nav-image,
.nav-content {
  display: inline-block;
  vertical-align: top;
}

header {
  margin-top: 32px;
}

header h1 {
  color: white;
}

header .nav-image {
  margin-right: 24px;
  margin-bottom: 24px;
}

nav {
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

nav li a {
  color: white;
  text-decoration: none;
}
