.with-gradient {
  /* Gradient background */
  background: -webkit-gradient(linear, left top, left bottom, from(#310058), color-stop(15.11%, #3506C7), color-stop(31.23%, #96701D), color-stop(47.52%, #53A0FD), color-stop(63.8%, #0C758D), color-stop(82.74%, #04765C), to(#B4EC51));
  background: -webkit-linear-gradient(top, #310058 0%, #3506C7 15.11%, #96701D 31.23%, #53A0FD 47.52%, #0C758D 63.8%, #04765C 82.74%, #B4EC51 100%);
  background: -o-linear-gradient(top, #310058 0%, #3506C7 15.11%, #96701D 31.23%, #53A0FD 47.52%, #0C758D 63.8%, #04765C 82.74%, #B4EC51 100%);
  background: linear-gradient(to bottom, #310058 0%, #3506C7 15.11%, #96701D 31.23%, #53A0FD 47.52%, #0C758D 63.8%, #04765C 82.74%, #B4EC51 100%);
  /* Gradient background, make browser safe */
  background: linear-gradient(to bottom, #310058 0%, #B4EC51 100%);
}

.content {
  background-color: black;
  color: #DDD;
  border-radius: 20px;
  padding: 0 72px;
  margin-bottom: 30px;
}

.content:last-of-type {
  padding-bottom: 80px;
}

.contact h2,
.contact-form h2,
.section h2 {
  font-family: 'Brandon-bold'; text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  letter-spacing: 16px;
  padding-top: 72px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .section h2 {
    font-size: 40px;
    letter-spacing: 8px;
  }
}

.radio-color-hover,
.releases-color-hover,
.artists-color-hover,
.contact-color-hover {
  transition: color 0.1s;
}

.radio-color-hover:hover {
  color: #AAA;
}

.releases-color-hover:hover {
  color: #AAA;
}

.artists-color-hover:hover {
  color: #AAA;
}

.contact-color-hover:hover {
  color: #AAA;
}

.see-all-row {
  text-align: center;
}

.see-all {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #BBB;
  background-color: black;
  border: #BBB solid 1px;
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding-top: 10px;
}
