body {
  /* Gradient background */
  background: #7268ff;
  background: -moz-linear-gradient(top, #7268ff 0%, #ffa807 51%, #60daff 100%);
  background: -webkit-linear-gradient(top, #7268ff 0%,#ffa807 51%,#60daff 100%);
  background: linear-gradient(to bottom, #7268ff 0%,#ffa807 51%,#60daff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7268ff', endColorstr='#60daff',GradientType=0 );
}

.content {
  background-color: black;
  color: gray;
  border-radius: 20px;
  padding: 40px;
}

.section {
  margin-bottom: 32px;
}

.section h2 {
  color: #555;
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
  padding-top: 80px;
  margin-bottom: 30px;
  font-weight: 600;
}

.see-all-row {
  text-align: center;
}

.see-all {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: black;
  border: white solid 1px;
  border-radius: 8px;
  width: 160px;
  height: 40px;
  padding-top: 10px;
}
