.section {
  color: gray;
  background-color: black;
  margin-bottom: 32px;
  padding: 40px;
}

.section h2 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: -12px;
  font-weight: 200px;
}

.section-infos {
  display: flex;
  justify-content: space-between;
}

.section-info {
  display: inline-block;
  position: relative;
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.section-info ul {
  list-style: none;
}

.section-info h3 {
  font-size: 32px;
  margin: 0;
  text-align: right;
}

.section-info h4 {
  margin: 0;
}

.section-details {
  position: absolute;
  bottom: 20px;
}

.section-details h4.number {
  font-size: 16px;
  margin-bottom: 6px;
}

.section-details h4.type {
  font-size: 30px;
  margin-bottom: 10px;
}

.section-details h4.date {
  font-size: 12px;
}
