.section {
  color: gray;
  background-color: black;
  margin-bottom: 32px;
}

.section h2 {
  padding: 40px 0;
  text-align: center;
  font-size: 60px;
  letter-spacing: 8px;
}

.section-info {
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.section-info ul {
  list-style: none;
}

.section-info ul li:first-child {
  text-align: right;
}
