.section {
  color: gray;
  background-color: black;
  margin-bottom: 32px;
  padding: 40px;
}

.section h2 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: -12px;
  font-weight: 200px;
}

.section-infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.section-info-parent {
  position: relative;
}

.artist-header {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  font-family: 'UCR', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.section-info {
  display: inline-block;
  position: relative;
  filter: grayscale(100%);
  width: 200px;
  height: 200px;
  padding: 20px;
  transition: filter 0.2s ease;
}

.section-info:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

.section-info ul {
  list-style: none;
}

.section-info h4 {
  margin: 0;
}

.section-details {
  position: absolute;
  bottom: 20px;
}

.section-details h4.number {
  font-size: 16px;
  margin-bottom: 6px;
}

.section-details h4.type {
  font-size: 30px;
  margin-bottom: 10px;
}

.section-details h4.date {
  font-size: 12px;
}

.see-all-row {
  text-align: center;
}

.see-all {
  text-align: center;
  color: white;
  background-color: black;
  border: white solid 1px;
  border-radius: 8px;
  width: 160px;
  height: 40px;
}

.background4 {
  background-image: url("images/4.png")
}

.background5 {
  background-image: url("images/5.png")
}

.background6 {
  background-image: url("images/6.png")
}
