.radio-page .highlight-row {
  display: flex;
  margin-bottom: 20px;
}

.radio-page .highlight-row .artist-header {
  font-family: 'Brandon-bold'; text-transform: uppercase;
  font-size: 32px;
}

.radio-page .selected-track-image {
  z-index: 2;
  width: 300px;
  height: 300px;
  background-size: contain;
  border-radius: 10px;
}

.radio-page .selected-track-info {
  position: relative;
  flex: 1;
  padding: 0 10px;
  padding-top: 34px;
}

.radio-page h4 {
  color: white;
  margin-bottom: 10px;
}

.radio-page h4.title {
  font-size: 24px;
}

.radio-page h4.date {
  font-size: 12px;
}

.radio-page .soundcloud-player {
  position: absolute;
  bottom: 0px;
  left: -160px;
  width: 726px;
}

.radio-page .page-content {
  margin-bottom: 80px;
}

.radio-page .page-content p {
  display: block;
  color: #E3E3E3;
  margin-bottom: 24px;
  line-height: 22px;
}

.radio-page summary {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 16px;
}
