.nav-image,
.nav-content {
  display: inline-block;
  vertical-align: top;
}

header {
  margin-top: 32px;
  padding-bottom: 40px;
}

header h1 {
  letter-spacing: 5px;
  line-height: 70px;
  color: white;
}

header .nav-image {
  width: 118px;
  height: 116px;
  margin-right: 40px;
}

header .nav-image-small {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-right: 40px;
}

header .inline-nav {
  display: inline-block;
  position: relative;
  bottom: 30px;
}

header .nav-image-link {
  text-decoration: none;
}

nav {
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 40px;
  font-size: 24px;
}

nav li a {
  color: white;
  text-decoration: none;
}


/* Floating header */

header.big-header {
  position: fixed;
  top: 0;
  z-index: -1;
}

.content.with-big-header {
  margin-top: 189px;
}

/* Footer */

footer  {
  text-align: right;
  margin: 24px auto;
  width: 1010px;
}

footer a {
  margin: 0 12px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
